.body {
  font-family: Arial, Helvetica, sans-serif;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.welcome img {
  height: 20rem;
}
.welome span {
  color: #4e0eff;
}
.welcome h1,
h3 {
  text-transform: capitalize;
  color: white;
  line-height: 1.5;
}
.welcome span {
  color: yellow;
}
.all {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}
.container {
  height: 85vh;
  width: 85vw;
  background-color: #00000076;
  display: grid;
  grid-template-columns: 25% 75%;
}
.allContacts {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;
}
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.allContacts img {
  height: 2rem;
}
.allContacts h3 {
  color: white;
  text-transform: uppercase;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contacts::-webkit-scrollbar {
  width: 0.2rem;
}
.contacts::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  gap: 15px;
  padding: 10px 20px;
  background-color: #b3b3b361;
  border-radius: 4%;
  transition: 0.5s;
}
.user h3 {
  text-transform: capitalize;
  font-size: small;
  font-weight: 900;
}
.user:hover {
  background-color: #131324;
  cursor: pointer;
}
.alt {
  display: flex;
  flex-direction: row;
}
.welcome2 {
  width: 100%;
  position: relative;
}
.welcome2 img {
  height: 3rem;
}
.profile {
  padding: 10px 20px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #b3b3b361;
  width: 100%;
}
.send {
  background-color: #b3b3b361;
  position: absolute;
  bottom: 2%;
  left: 10%;
  width: 85%;
  align-items: center;
  border: none;
  outline: none;
  gap: 1%;
  border-radius: 21px;
  height: fit-content;
}
.send textarea {
  outline: none;
  border: none;
  width: 90%;
  padding: 10px 10px;
  overflow: auto;
  background-color: transparent;
  color: white;
  height: fit-content;
}
.send textarea {
  padding-left: 40px;
  margin-top: 10px;
  padding-top: 9px;
}
textarea::placeholder {
  color: white;
}
.icon {
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 10%;
  padding: 8px 0;
  transition: 0.5s;
}
.icon button {
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
.icon:hover {
  cursor: pointer;
}
.emo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gold;
  background-color: black;
  overflow: hidden;
  border-radius: 30px;
  font-size: 25px;
  border: none;
}
.allEmo {
  position: absolute;
  bottom: 35px;
  width: 40%;
}
.sendI {
  position: absolute;
  bottom: 5%;
  right: 8%;
}
.sendI img {
  width: 25px;
  height: 25px;
}
.sendI:hover {
  cursor: pointer;
}
.active {
  background-color: #080420;
}
textarea {
  resize: none;
}
.EmojiPickerReact--epr-hover-bg-color {
  background-color: aliceblue;
}
.chat {
  width: 100%;
  height: 78%;
}
.mess {
  background-color: #4f04ff21;
  margin: 20px;
  padding: 20px;
  width: fit-content;
  border-radius: 21px;
  position: relative;
  display: flex;
  right: 0;
  margin-left: auto;
}
.mesr {
  background-color: #9900ff20;
  margin: 20px;
  padding: 20px;
  width: fit-content;
  border-radius: 21px;
}
