.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.welcom img {
  height: 20rem;
}
.welome span {
  color: #4e0eff;
}
.welcome h1,
h3 {
  color: black;
}
.welcome span {
  color: yellow;
}
.all {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}
.container {
  height: 85vh;
  width: 85vw;
  background-color: #00000076;
  display: grid;
  grid-template-columns: 25% 75%;
}
.allContacts {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;
}
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.allContacts img {
  height: 2rem;
}
.allContacts h3 {
  color: white;
  text-transform: uppercase;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contacts::-webkit-scrollbar {
  width: 0.2rem;
}
.contacts::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
